# Server
PORT=3000

# MongoDB
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@YOUR_CLUSTER.mongodb.net/?appName=YOUR_APP
MONGODB_DB_NAME=wortise_dev

# Better Auth
BETTER_AUTH_SECRET=your_generated_secret_here
BETTER_AUTH_URL=http://localhost:3000

# Client
CLIENT_ORIGIN=http://localhost:5173
VITE_API_URL=http://localhost:3000